.BoxContainer{
    background-color: white;
}

.container{
    background-color: white; 
}

.brandTitle{
    background-color: white;
}


.inputs{
    background-color: white;
}


.Input{
    background-color: white;
}


.SubmitButton{
    background-color: white;
}
