.labelUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
    
}
.inputUser{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}